igraph
pycairo
matplotlib
networkx 
openai>=1.0.0
Pillow>=10.0.0
streamlit>=1.30.0
pydantic>=2.0
pydantic_openai
faiss-cpu
datasets
sentence-transformers
tqdm
scipy
langchain
langgraph
langchain_community
langgraph-prebuilt
langchain-openai
langchain-huggingface